extends layout

block layout-content
  div.Main
    h1.m-3 Manage reported items

    if items.length == 0
        p No item has been reported yet.

    div.items.d-flex.flex-wrap.justify-content-center

        each item in items 
            div.card.w-25.m-1
                div.card-body.d-flex.flex-column.gap-2
                    img.card-img-top(src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mbp-spacegray-select-202206?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1664497359481", alt="").h-75
                        
                    div.mt-auto.d-flex.flex-column
                        h5.card-title.mb-3 #{item.Name}
                        h6.card-subtitle.mb-3.text-muted Description: #{item.Description}
                        h6.card-subtitle.mb-2.text-muted Found: #{item.DateReported}
                        form(action=`/item/delete/${item.ItemID}` method="POST")
                            button(type="submit" class="btn btn-danger") Remove/Claimed

