extends layout

block layout-content
  div.Main
    h1.m-3 Manage reported items

    if items.length == 0
        p No item has been reported yet.

    a(href="/item/create", class="btn btn-primary mb-3") Add 


    form(action="/item/search", method="GET").my-2.my-lg-0
        .input-group.mb-3.w-25.mx-auto
            input.form-control.mr-sm-2(type='search', placeholder='Search for item', aria-label='Search' name="search")
            .input-group-append
                button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search

    div.items.d-flex.flex-wrap.justify-content-center

        each item in items 
            div.card.w-25.m-1
                div.card-body.d-flex.flex-column.gap-2
                    img.mb-5.card-img-top(src="data:image/png;base64," + item.imageBase64, alt="").h-75
                        
                    div.mt-auto.d-flex.flex-column
                        h5.card-title.mb-3 #{item.Name}
                        h6.card-subtitle.mb-3.text-muted Description: #{item.Description}
                        h6.card-subtitle.mb-2.text-muted Found: #{item.DateReported}
                        form(action=`/item/delete/${item.ItemID}` method="POST")
                            button(type="submit" class="btn btn-danger") Remove/Claimed

