extends layout

block layout-content
    main.form-signin-mx-auto.d-flex.justify-content-center
        form(action="/account/login", method="post") 
            img.mb-4.mt-5(src="http://www.nyp.edu.sg/content/dam/nyp/logo.png", alt="nyp-image")
            h1.h3.mb-4.fw-normal Staff Sign In 
            div.form-floating
                input.form-control#floatingInput(type="email", placeholder="name@example.com", name="email").rounded-0
                label(for="floatingInput") Email Address 
            div.form-floating.mb-4
                input.form-control#floatingPassword(type="password", placeholder="Password", name="password").rounded-0
                label(for="floatingPassword") Password 

            #error 
                if error
                    h4.text-danger #{error}

            div.mb-3
                button.w-100.btn.btn-lg.btn-primary(type="submit") Sign In